body {
	font-family: "‚l‚r ‚oƒSƒVƒbƒN";	background-color: #aaccff;	font-size: 10pt;
}

h1 {font-family: "‚l‚r ‚oƒSƒVƒbƒN";	font-weight: bold;	margin-bottom: 5px;
	font-size: 12pt;
}
h2 {font-family: "‚l‚r ‚oƒSƒVƒbƒN";	font-weight: bold;	font-size: 10.0pt;
	margin-bottom: 5px;
}

